.link {
	font-family: var(--font-sans);
	font-size: var(--text-lg);
	font-weight: 600;
	padding: var(--space-xs) var(--space-md);
	border-radius: var(--radius-full);
	background: var(--color-meadow-green);
	 color: white ;
	transition: all 0.3s ease;
	box-shadow: var(--shadow-sm);
}

.link:hover {
	color: white;
	transform: translateY(-2px);
	box-shadow: var(--shadow-md);
}

.pending {
	
	color: white;
}
._pending_njxf8_37 {
	background:transparent;
	color: white;
}
.undefined{
	background:transparent;
	color: white;
}